@import '~antd/lib/style/themes/default.less';

.layout {
  position: relative;
  min-height: 100vh;
  background-color: #eaeff2;
}

.content {
  display: flex;
  height: 100%;
}

.page {
  flex-grow: 1;
  background-color: white;
}
